apiVersion: apps/v1
kind: Deployment
metadata:
  name: database-k8s-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: database-k8s-operator
  template:
    metadata:
      labels:
        name: database-k8s-operator
    spec:
      containers:
        - name: database-k8s-operator
          image: jbacic/database-k8s-operator:0.1.0
          ports:
          - containerPort: 60000
            name: metrics
          command:
          - database-k8s-operator
          imagePullPolicy: Always
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: OPERATOR_NAME
              value: "database-k8s-operator"
